@charset "utf-8";

.fundo {
    background-image: url('../imagens/fundo.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    display: flex;
    justify-content: center;
}

.quiz-button {
  padding: 2px; /* Espaçamento interno */
  background-color: #fff;
  border: none; /* Remove a borda padrão */
  border-radius: 8px; /* Cantos arredondados */
  font-size: 25px; /* Tamanho da fonte */
  cursor: pointer; /* Muda o cursor para mãozinha ao passar por cima */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transição suave */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra para dar profundidade */
  margin-left: 10%;
  margin-bottom: 10px;
  width: 80%;
  text-align: left;
}

.text-alternativas{
    font-size: 24px;
}

.bold{
    font-weight: bold;
}

.format-text-h1{
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 25px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.areaGeral{
	width: 50%;
	height: 100%;
	background-color: rgb(153, 0, 255);
	padding:10px;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-align: center;
    margin: 0 auto;
}

@font-face {
    font-family: 'Nexa';
    src: url(../fontes/Nexa-Heavy.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
}

.titulos{
    font-family: 'Nexa', sans-serif;
    font-size: 75px;
    color: #fff;
}

img {
    max-width: 500px;
    max-height: 200px;
    margin: 12px;
    box-shadow: 0 0 20px;
}

.btnNormal {
    border: none;
    border-radius: 5px;
    height: 12%;
    width: 50%;
    font-family: 'Nexa', sans-serif;
    font-size: 50px;
    color: rgb(153, 0, 255);
    margin: 20px;
    margin-top: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease; /* Transição suave */
    cursor: pointer;
    translate: 125ms;
}

button:hover{
    transform: translateY(-4px);
}

.nomes {
    font-family: 'Nexa', sans-serif;
    font-size: 60px;
    color: #fff;
}

p {
    color: #fff;
    font-size: 24px;
}

/*".quiz-button" seleciona os elementos dessa classe/
 "input[type="radio"]:checked" aplica apenas aos selecionados
 "+" faz com que as formatações se apliquem a outro elemento, se tiverem o mesmo nivel hierarquico
 "text-alternativas" serve como "alvo", para saber onde aplicar a alteração*/

 /*Vou tentar explicar oq tá acontecendo aqui e por que o + é necessário. basicamente, é pq o input tem display:none
 no style, então era pra ele não aparecer na tela, e de fato ele não aparece, o user está interagindo com a 
  div, com a classe .text-alternativas, então é necessário estilizar a área onde está o texto, então usar 
 .quiz-button input[type="radio"]:checked + .text-alternativas é como dizer "“Quando esse input estiver marcado, 
 estilize o div.text-alternativas que está logo depois dele.”. "Mas text-alternativas não é só um texto?", não, pois 
 ele está sendo usado como uma classe de uma div, então não estamos estilizando só texto em si, mas a div que tem essa 
 classe! (solto o microfone de um jeito foda (+99999 aura))*/
.quiz-button input[type="radio"]:checked + .text-alternativas {
  background-color: #d1e7fd;
  border-radius: 5px;
  box-shadow: 0 0 0 2px #007bff;
}

.areaBarraProgresso{
    border-radius: 10px;
    margin: 0 auto;
    height: 24px;
    width: 90%;
    background-color: white;
    /* centraliza a barra de progresso */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*No trecho abaixo é inteiro para formatação da progress bar, é complicado
fazer essas formatações porque, como podemos estar tratando de diferentes navegadores
é necessário zerar as formatações bases (com appearance: none;) e fazer as formatações
para os pseudo-elementos para cada navegador diferente, os comentários abaixo vão 
explicar cada trecho melhor*/

/*essa é a base das alterações da progress bar*/
.barraProgresso {
    margin: 0 auto;
    appearance: none;
    width: 98%;
    height: 15px;
    border: none;
    border-radius: 10px;
    background-color: black; /*usado no firefox para fazer o fundo*/
}

/*webkit faz as alterações no Chrome/safari, e moz faz no Firefox*/
/*progress-bar refere-se ao fundo, já progress-value refere-se à parte preenchida*/
/* Parte não preenchida no Chrome/Safari */
.barraProgresso::-webkit-progress-bar {
  background-color: black;
  border-radius: 10px;
}

/* Parte preenchida no Chrome/Safari */
.barraProgresso::-webkit-progress-value {
  background-color: purple;
  border-radius: 10px;
}

/*não é nessesário o progress-value no moz por que essa 
alterção já é feita no .barraProgresso original*/
/* Parte preenchida no Firefox */
.barraProgresso::-moz-progress-bar {
  background-color: purple;
  border-radius: 10px;
} 
/*o tonto aqui achava que era só colocar um <progress> e cabô akakkakakaka*/

/*Table*/
.table_component {
    overflow: auto;
    width: 100%;
}

.table_component table {
    border: 1px solid #dededf;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.table_component caption {
    caption-side: top;
    text-align: left;
}

.table_component th {
    border: 1px solid #dededf;
    background-color: #eceff1;
    color: #000000;
    padding: 5px;
}

.table_component td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}
